#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
	width:330px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}

#modal_trigger {}

.btn {padding:5px 20px;  font-size:14px; }

.btn_red {background: #ED6347; color: #FFF; color: #FFF; background-color: #e69f3b; padding:5px 20px; font-size:14px; text-align:center;line-height: 35px; border-radius: 2px;
border: 1px solid rgba(0,0,0,0.15);color: #FFF; background-color: #e69f3b; padding:5px 20px; font-size:14px; text-align:center;line-height: 35px; border-radius: 2px;
border: 1px solid rgba(0,0,0,0.15);}

.btn:hover {background: #f1f1f1;}
.btn_red:hover {background: #C12B05;}

a.btn {color:#A59B55; text-align: center; text-decoration: none;}
a.btn_red {color: #FFF;}
.btn_yellow {color: #FFF; background-color: #e69f3b; padding:5px 20px; font-size:14px; text-align:center;line-height: 35px; border-radius: 2px;
border: 1px solid rgba(0,0,0,0.15);}


.one_half {width:100%; display: block; }
.one_half.last {width:45%; margin-left:5%;}

/* Popup Styles*/
.popupHeader {font-size:16px; text-transform: uppercase;}
.popupHeader {background:#F4F4F2; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
 .modal_close {

position: absolute;
top: -16px;
right: -8px;

cursor: pointer;
	
	}

.popupBody {padding:20px;}


/* Social Login Form */
.social_login {}
.social_login .social_box {display:block; clear:both;  margin-bottom: 10px; background:#fff; overflow: hidden; padding:5px 10px;}
.social_login .icon {display:block; width:10px; padding:5px 10px; margin-right: 10px; float:left; color:#FFF; font-size:16px; text-align: center;} 
.social_login .fb{background-color: #3c5c9c; }

.social_login .google .icon {background:#DD4B39;}
.social_login .icon_title {display:block; padding: 9px 10px; float:left; font-weight: bold; font-size: 16px; color:#fff;}


.centeredText
{

background-color: #f6f6f6;
padding:16px;

}

.action_btns {clear:both; overflow: hidden;}
.action_btns a {display: block;}

/* User Login Form */
.use_login {}
.use_login h2{ text-align:center;color: #000;
font-size: 19px;
line-height: 20px;
text-shadow: 0 1px 0 white;}

.use_login label {display: block; margin-bottom:5px; font-size:12px;}
.use_login input[type="text"], .use_login input[type="email"], .use_login input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.use_login input[type="checkbox"] {float:left; margin-right:5px;}
.use_login input[type="checkbox"]+label {float:left;}

.use_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password { margin: 20px 30px 10px; clear: both; overflow: hidden; text-decoration: none; color:#ED6347;}
.reg_password { color:#03F;}

/* User Register Form */
.user_register {display: none;}
.user_register h2{ text-align:center;color: #000;font-size: 19px;
line-height: 20px;
text-shadow: 0 1px 0 white; padding:10px;}
.user_register label {display: block; margin-bottom:5px;}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_register input[type="checkbox"] {float:left; margin-right:5px;}
.user_register input[type="checkbox"]+label {float:left;}

.user_register .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}